body {
}

* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.v0_29 {
    width: 100%;
    height: 960px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v0_30 {
    width: 100%;
    height: 960px;
    background: url("../images/v0_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v0_31 {
    width: 100%;
    height: 960px;
    background: url("v0_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v0_43 {
    width: 504px;
    height: 566px;
    background: url("../images/v0_43.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 787px;
    overflow: hidden;
}

.v0_44 {
    width: 504px;
    height: 566px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
}

.v0_45 {
    width: 61px;
    color: rgba(85,83,83,1);
    position: absolute;
    top: 52px;
    left: 58px;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v0_46 {
    width: 384px;
    height: 44px;
    background: url("../images/v0_46.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 60px;
    overflow: hidden;
}

.v0_47 {
    width: 384px;
    height: 44px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v0_49 {
    width: 370px;
    background: rgba(243,243,243,1);
    position: absolute;
    top: 12px;
    left: 14px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    border: 0px none;
    outline: none;
}

.v0_50 {
    width: 384px;
    height: 44px;
    background: url("../images/v0_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 60px;
    overflow: hidden;
}

.v0_51 {
    width: 384px;
    height: 44px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v0_53 {
    width: 370px;
    background: rgba(243,243,243,1);
    position: absolute;
    top: 12px;
    left: 14px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    border: 0px none;
    outline: none;
}

.v0_55 {
    width: 384px;
    height: 34px;
    background: rgba(32,74,99,1);
    position: absolute;
    top: 306px;
    left: 60px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: mintcream;
    border: 0px none;
}

.v0_56 {
    width: 384px;
    height: 34px;
    background: url("../images/v0_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 438px;
    left: 60px;
    overflow: hidden;
}

.v0_57 {
    width: 384px;
    height: 34px;
    background: rgba(255,110,56,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.v0_58 {
    width: 384px;
    height: 34px;
    background: rgba(255,110,56,1);
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: center;
    color: mintcream;
    border: 0px none;
    outline: none;
}

.v0_59 {
    width: 384px;
    height: 18px;
    background: url("../images/v0_59.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 378px;
    left: 60px;
    overflow: hidden;
}

.v0_60 {
    width: 15px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 0px;
    left: 185px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v0_63 {
    width: 97px;
    color: rgba(32,74,99,1);
    position: absolute;
    top: 264px;
    left: 348px;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v0_64 {
    width: 371px;
    height: 18px;
    background: url("../images/v0_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 488px;
    left: 60px;
    overflow: hidden;
}

.v0_65 {
    width: 18px;
    height: 41px;
    background: url('../images/v0_65.png') no-repeat center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v0_66 {
    width: 18px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(117,117,117,1);
}

.v0_67 {
    width: 346px;
    position: absolute;
    top: 0px;
    left: 25px;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v0_68 {
    width: 110px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 88px;
    left: 98px;
    font-family: Rosario;
    font-weight: normal;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}
