body {
}

* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.v4569_196 {
    width: 100%;
    height: 960px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4569_197 {
    width: 100%;
    height: 960px;
    background: url("../images/v4569_197.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4569_198 {
    width: 100%;
    height: 960px;
    background: url("v0_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4569_199 {
    width: 65px;
    height: 38px;
    background: rgba(237,233,232,1);
    opacity: 1;
    position: absolute;
    top: 421px;
    left: 401px;
    border-radius: 50%;
}

.v4569_200 {
    width: 110px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 88px;
    left: 98px;
    font-family: Rosario;
    font-weight: normal;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v4569_211 {
    width: 100%;
    height: 676px;
    background: url("../images/v4569_211.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 183px;
    left: 100px;
    overflow: hidden;
}

.v4569_212 {
    width: 100%;
    height: 676px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
}

.v4569_213 {
    width: 100px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 480px;
    left: 568px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v4569_214 {
    width: 119px;
    color: rgba(140,140,140,1);
    position: absolute;
    top: 265px;
    left: 143px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v4569_215 {
    width: 92px;
    color: rgba(140,140,140,1);
    position: absolute;
    top: 265px;
    left: 322px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v4569_216 {
    width: 64px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 291px;
    left: 143px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v4569_217 {
    width: 89px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 291px;
    left: 322px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v4569_218 {
    width: 75px;
    height: 24px;
    background: url("../images/v4569_218.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 791px;
    left: 144px;
    overflow: hidden;
}

.v4569_219 {
    width: 75px;
    height: 24px;
    background: url("../images/v4569_219.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4569_220 {
    width: 75px;
    height: 24px;
    background: rgba(32,74,99,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.v4569_221 {
    width: 75px;
    background: rgba(32,74,99,1);
    color: mintcream;
    position: absolute;
    top: 4px;
    left: 21px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    border: 0px none;
    outline: none;
}

.v4569_222 {
    width: 94px;
    height: 24px;
    background: url("../images/v4569_222.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 791px;
    left: 227px;
    overflow: hidden;
}

.v4569_223 {
    width: 94px;
    height: 24px;
    background: url("../images/v4569_223.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4569_224 {
    width: 94px;
    height: 24px;
    background: rgba(32,74,99,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.v4569_225 {
    width: 94px;
    background: rgba(32,74,99,1);
    color: mintcream;
    position: absolute;
    top: 4px;
    left: 21px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    outline: none;
    border: 0px none;
}

.v4569_226 {
    width: 76px;
    height: 24px;
    background: url("../images/v4569_226.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 791px;
    left: 452px;
    overflow: hidden;
}

.v4569_227 {
    width: 76px;
    height: 24px;
    background: url("../images/v4569_227.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4569_228 {
    width: 76px;
    height: 24px;
    background: rgba(32,74,99,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.v4569_229 {
    width: 76px;
    background: rgba(32,74,99,1);
    width: 34px;
    color: mintcream;
    position: absolute;
    top: 4px;
    left: 21px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    outline: none;
    border: 0px none;
}

.v4569_234 {
    width: 384px;
    height: 35px;
    background: url("../images/v4569_234.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 430px;
    left: 143px;
    overflow: hidden;
}

.v4569_235 {
    width: 384px;
    height: 34px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v4569_237 {
    opacity: 1;
    width: 384px;
    position: absolute;
    top: 9px;
    left: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background: rgba(243,243,243,1);
    border: 0px none;
    outline: none;
}

.v4569_349 {
    width: 385px;
    height: 34px;
    background: url("../images/v4569_349.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 730px;
    left: 143px;
    overflow: hidden;
}

.v4569_350 {
    width: 384px;
    height: 34px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v4569_352 {
    background: rgba(243,243,243,1);
    border: 0px none;
    outline: none;
    width: 384px;
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v4569_238 {
    width: 384px;
    height: 35px;
    background: url("../images/v4569_238.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 142px;
    overflow: hidden;
}

.v4569_239 {
    width: 384px;
    height: 34px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v4569_241 {
    width: 384px;
    background: rgba(243,243,243,1);
    border: 0px none;
    outline: none;
    position: absolute;
    top: 9px;
    left: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v4569_242 {
    width: 384px;
    height: 35px;
    background: url("../images/v4569_242.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 490px;
    left: 143px;
    overflow: hidden;
}

.v4569_243 {
    width: 384px;
    height: 34px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v4569_245 {
    width: 384px;
    background: rgba(243,243,243,1);
    border: 0px none;
    outline: none;
    position: absolute;
    top: 9px;
    left: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v4569_246 {
    width: 384px;
    height: 35px;
    background: url("../images/v4569_246.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 610px;
    left: 142px;
    overflow: hidden;
}

.v4569_247 {
    width: 384px;
    height: 34px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v4569_249 {
    width: 384px;
    background: rgba(243,243,243,1);
    border: 0px none;
    outline: none;
    position: absolute;
    top: 9px;
    left: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v4569_250 {
    width: 384px;
    height: 35px;
    background: url("../images/v4569_250.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 670px;
    left: 144px;
    overflow: hidden;
}

.v4569_251 {
    width: 384px;
    height: 34px;
    background: rgba(243,243,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v4569_253 {
    width: 384px;
    background: rgba(243,243,243,1);
    border: 0px none;
    outline: none;
    position: absolute;
    top: 9px;
    left: 10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v4569_257 {
    width: 134px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 227px;
    left: 143px;
    font-family: Arial;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v4569_262 {
    width: 66px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 380px;
    left: 143px;
    font-family: Arial;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v4569_263 {
    width: 51px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 380px;
    left: 214px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v4569_264 {
    width: 500px;
    height: 500px;
    background: url("v4505_726.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 270px;
    left: 831px;
    overflow: hidden;
}
